* {
            margin: 0;
            border: none;
            padding: 0;
        }
        
        body {
            background: rgb(226, 224, 224);
        }
        
        .container {
            background-color: rgb(194, 191, 191);
            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
            text-align: center;
            width: 950px;
            height: 400px;
        }
        
        #videoContainer {
            width: 475px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 0px;
        }
        
        #video1 {
            /*height: 80vh;*/
            float: left;
            background: black;
            position: relative;
            /*去掉这句将会使得video优先级失效*/
            z-index: 99;
            height: 325px;
            width: 455px;
            margin-bottom: 3px;
        }
        
        .videoBack {
            background-color: #9494da;
            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
            text-align: center;
        }
        
        #playListContainer {
            width: 475px;
            height: 335px;
            padding-top: 10px;
            padding-left: 0px;
            padding-right: 10px;
        }
        
        .playListBack {
            background-color: #ac76b9;
            box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
            text-align: center;
        }
        
        aside {
            float: left;
            height: 100%;
            width: 100%;
            background: rgb(99, 98, 98);
            opacity: 0.9;
            position: relative;
        }
        
        aside header h3 {
            color: white;
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: center;
        }
        
        aside ul {
            background: rgb(99, 98, 98);
            width: auto;
            list-style: none;
            text-align: left;
            border-width: 5px;
            border-top: 3px solid black;
        }
        
        aside ul li {
            color: white;
            font-size: 24px;
            line-height: 50px;
        }
        
        aside ul li:hover {
            background-color: rgb(176, 192, 197);
            color: rgb(76, 184, 157);
            font-weight: bold;
        }